<hmtl>
<head>
<title></title>
</head>
<body>
<input type="button"value="Click me"id="btn1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button"value="Start"id="btn2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button"value="Stop"id="btn3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<script>
var x=document.getElementById("btn1");
var y=document.getElementById("btn2");
var z=document.getElementById("btn3");

//timout method
x.addEventListener("click",function()
{
setTimeout(ash,5000);
});

// intervelmethod
var w;
y.addEventListener("click",function()
{
w=setInterval(ash,5000);
});

// clear Timout
z.addEventListener("click",function()
{
clearTimeout(w);
console.log("Timer stopped");
});

function ash()
{
alert("Alert from time Functions");
}
</script>
</body>
</html>