<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
  </head>
  <body>
    <h1>User List</h1>
    <table>

      <tr><td>Name</td><td>Place</td></tr>
      {{#each mydata}}
      <tr><td>{{this.name}}</td><td>{{this.place}}</td></tr>
      {{/each}}
    </table>






<!--   <ul>
      {{#each users}}
      <li>Name: {{this.name}}</li>
      <li>Age: {{this.age}}</li>
      <br />
      {{/each}}
    </ul>-->
  </body>
</html>