html
	head
		title="Express Using My Template"
		style
			include style.css
		script
			include loginscript.js
	body

		form.login(method="get" action="studentform" enctype="multipart/form-data" name="loginform" onsubmit="return login();")
			div.title

				h1="login"
			div

				label(for="username") Name
				input(type="text" id="username" name="username" class="widght")
			div.password

				label(for="password") Password
				input(type="password" id="password" name="password" class="widght")

			input(type="submit" value="Login" id="submitbtn" class="widght")
		