html
	head
		style
			include style.css
		script
			include loginscript.js
	body
		h1="Search Records"
	form(action="retrivedata" onsubmit="" method="get" enctype="multipart/form-data")
		table
			tr
				td
					lable(for="stdname") Name
				td
					input(type="text" id="stdname" name="stdname" class="widght2")
			tr
				td
					input(type="submit" value="retrive" class="widght3")
				td
					input(type="reset" value="clear" class="widght3")