html
	head
		title="student Form"
		style 
			include style.css
		script
			include script.js
	body
		div.login
			h1="Student Form"
			form.submit(name="studentform" method="post" action="formend" onsubmit="return validate();" enctype="multipart/form-data")
				table
					tr
						td 
							label(for="studentname") Name
						td 
							input(type="text" name="studentname" id="studentname" class="widght2")
					tr
						td
							label(for="Register_No") Register No
						td  
							input(type="text" name="Register_No" id="Register_No" class="widght2")
					tr
						td
							label(for="Mobile_No") Mobile No
						td
							input(type="text" name="Mobile_No" id="Mobile_No" class="widght2" maxlength="10")
					tr
						td
							label(for="place") Place
						td 
							input(type="text" name="place" id="place" class="widght2")

					tr
						td
							label(for="course") Course
						td
							input(type="text" name="course" id="course" class="widght2")
					tr
						td
							label(for="program") Selecting course

						td
							select(id="program" name="program" class="widght2")
								option(value ="") Select
								option(value ="JAVA") JAVA
								option(value ="Node JS") Node Js
								option(value ="PHP") PHP
								option(value ="Python") Python
								option(value ="React") React
								option(value ="Angular") Angular
								option(value ="Mobile Dev") Mobile Developement
								option(value ="SQL")  SQL
								option(value ="NoSQL") NoSQL    
					tr
						td
							label(for="email") E Mail
						td
							input(type="email" name="email" id="email" class="widght2")
					tr
						td
							label(for="query") Query
						td 
							input(type="textarea" id="query" name="query" class="widght2")
					tr
						td
							input(type="submit" value="submit" class="widght3")
						td 
							input(type="reset" value="reset" class="widght3")


