body
{
	background-color:rgb(224, 224, 213);
}

.login
{
text-align: center;
}
.title
{
	text-align: center;
}
#username
{
margin-left: 5%;
}
#password
{
	margin-top: 2%;

margin-left: 3%;
}

#submitbtn
{
	margin-top:2%;
	margin-left:7%;
	width:100px;
	background-color:blue;
	color:white;
}
.widght
{
	border-radius:20px;
	border-color: blue;
	height: 40px;
}
.submit
{
	margin-left:38%;
}
label
{
	font-size:25;
	font-style: italic;
}
.widght2
{
	border-radius:18px;
	border-color:blue;
	height:35px;
	width:200px;
	border-style: dotted;
}
.widght3
{
	border-radius:18px;
	height:30px;
	width:150px;
	border-color:blue;
background-color:blue;
border-style:dotted;
border-color: white;
color:white;
}